body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('img/bus.2.jpg') no-repeat center center fixed; /* Add your image path here */
    background-size: cover;
    color: #333; /* Ensure text color contrasts well with the background image */
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: rgba(51, 51, 51, 0.9); /* Make header slightly transparent */
    color: #fff;
    padding: 10px 0;
    position: relative;
    z-index: 1; /* Ensure header stays on top */
}

.header #userStatus {
    font-size: 1.2em;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    height: 50px;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: #24e7de;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

.nav-menu a:hover,
.menu-active a {
    background-color: #ff0;
    color: #000;
    border-radius: 5px;
}

#search-form {
    display: flex;
    align-items: center;
}

#search-form input {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

#search-form button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff0;
    color: #000;
    cursor: pointer;
}

#search-form button:hover {
    background-color: #000;
    color: #ff0;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff0;
    color: #000;
    cursor: pointer;
}

.auth-buttons button:hover {
    background-color: #000;
    color: #ff0;
}
